* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#score {
    width: 150px;
    height: 50px;
    border: solid black 3px;
}

#game {
    width: 1000px;
    height: 300px;
    border: 1px solid black;

}

#hero {
    width: 146px;
    height: 200px;
    background-image: url(./img/bubbles.png);
    background-size: cover;
    /* background-color: red; */
    position: relative;
    top: 100px;
    left: 0px;
}

.animate {
    animation: duck 500ms;
}

@keyframes duck {
    0%{top: 100px;}
    40%{top: 200px;}
    80%{top: 200px;}
    100%{top: 150px;}
}

.takecover{
    width: 100px !important;
    height: 100px !important;
    background-image: url(./img/cover.jpg) !important;
    background-size: cover;
    /* background-color: red; */
    position: relative;
    top: 100px;
    left: 0px;
}

#enemy {
    width: 275px;
    height: 200px;
    
    background-image: url(./img/flint.png);
    background-size: cover;
    /* background-color: red; */
    position: relative;
    top: -120px;
    left: 720px;
}

#bullet {
    width: 34px;
    height: 20px;
    background-image: url(./img/bullet.png);
    background-size: cover;
    background-color: blue;
    position: relative;
    top: 20px;
    left: 700px;
   
}

.shoot {
     animation: bullet 0.7s linear;
}

.adjustEnemy {
    top: -20px !important;
}

.adjustBullet {
    top: 120px !important;
}

@keyframes bullet {
    0%{left:700px;}
    100%{left:-40px;}
}

#restart {
    margin-top: 1rem;
    padding: 10px;
}